#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sudoku-table {
  border-collapse: collapse; /* Collapse borders */
}

.sudoku-table td {
  border: 1px solid black; /* Border for each cell */
}

.sudoku-table .vertical-separator {
  border-left: 5px solid rgb(40, 40, 40); /* Thicker left border for separation */
}

.sudoku-table tr:nth-child(3n) td {
  border-bottom: 5px solid rgb(40, 40, 40); /* Thicker bottom border for separation every 3 rows */
}

.sudoku-table tr:last-child td {
  border-bottom: none; /* Remove bottom border from the last row */
}

input {
  border: none; /* Remove input border */
  outline: none; /* Remove input outline on focus */
}
